{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Inspired by: https://startbootstrap.com/template/modern-business -->
<head>
    <title>Home</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">ASL Translator tool</h1>
                            <p class="lead fw-normal text-muted mb-4">Our mission is to asssist communication of individuals.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Section 1 -->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/sign.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Core of our project</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            The ASL Translator is an advanced technological tool that leverages machine learning and computer vision techniques by using a camera to detect gestures including movements of hands, head, and facial expressions, and translating them into a text in real-time.
                            It is designed to facilitate communication for individuals who are hard of hearing with others who are not familiar with sign language.
                        </p>
                    </div>
                </div>
            </div>
        </section>
         <!-- Section 2 -->
         <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/dataset.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Used data</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            We are utilizing the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=100121">Microsoft ASL</a> dataset which comprises three JSON files contaiting training, validation, and test sets. 
                            Each dataset includes a comprehensive list of classes representing words to be identified. 
                            Each data point comes with a URL to a video of a person performing the corresponding sign along with video length, start and end time, bounding boxes, etc.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section 3 -->
         <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/asl.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">User tips</h2>
                        <p class="lead fw-normal text-muted mb-0">
                            Due to limitation of current model, the translation process can be a bit rough at times. <br>
                            For best results, make sure that: <br>
                            - You're facing the camera head on <br>
                            - Your entire face, arms, and hands are visible in frame <br>
                            - The scene is well lit <br>
                            - Nobody else is in the frame with you
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team members section -->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">Our team</h2>
                    <p class="lead fw-normal text-muted mb-5">Brough great project idea to life</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'assets/Emma.jpg' %}" width="200" height="200" alt="..." />
                            <h5 class="fw-bolder">Emma Litvin</h5>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'assets/Patrik.png' %}" width="200" height="200" alt="..." />
                            <h5 class="fw-bolder">Patrik Samcenko</h5>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-sm-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'assets/Yasamin.jpg' %}" width="200" height="200" alt="..." />
                            <h5 class="fw-bolder">Yasamin Fazelidehkourdi</h5>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'assets/Amin.jpg' %}" width="200" height="200" alt="..." />
                            <h5 class="fw-bolder">Amin Mahmoudifard</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}