{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <title>Admin login</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Admin login</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-4">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %} <!-- Cross-site request forgery token-->
                            <div class="mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Enter your username">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Enter your password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form> 
                    </div>
                </center>
            </div>
        </div>
    </main>
</body>
{% endblock %}