{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <title>Model training</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">History of model training</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="container-table">
            <div class="row">
                <table class="fixed_header table-sortable">
                    <thead>
                        <tr>
                            <th>Model ID</th>
                            <th>Date of training</th>
                            <th>Accuracy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <th colspan='4'>
                            <a data-toggle="collapse" class="collapse" href="#collapsableWindow">Re-train model</a>
                        </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for training in training_list %}
                        <tr>
                            <td data-title='Model ID'> {{training.modelid}} </td>
                            <td data-title='Date of training'> {{training.trainingdate}} </td>
                            <td data-title="Accuracy"> {{training.accuracy}}% </td>
                            <td class='deploy'>
                                <a class='btn btn-dark' href='#'>Deploy</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="collapsible">Retrain Model</button>
                <div class="content">
                    <div class="upload_frame">
                        <label for="input-file" id="drop_area">
                            <input type="file" accept="mp4" id="input-file" hidden />
                            <div id="img_view">
                                <img src="{% static 'assets/upload.png' %}">
                                <p>Drag and drop file here,<br>or<br><a href="#" id="file-browser">browse</a> your computer.</p>
                            </div>
                        </label>
                    </div>
                </div> 
            </div>
        </div>
    </main>
    <script src="{% static 'js/training_scripts.js'%}"></script>
</body>
{% endblock %}  