{% extends "base.html" %}
{% load static %}

{% block content%}
<head>
    <title>Home</title>
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">History of your translations</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-table">
            <div class="row">
                <table class="table">
                    <!-- Table header line -->
                    <thead>
                        <tr>
                            <th>Name of translated file</th>
                            <th>Date of translation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- Table body -->
                    <tbody>
                        {% for translation in translation_list %}
                        <tr>
                            <td data-title='Name of translated file'> {{ translation.file_name }} </td>
                            <td data-title='Date of translation'> {{ translation.input_date }} </td>
                            <td style="text-align: center;">
                                <button class='btn btn-secondary'>Download translation</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!-- Table footer with dropdown section -->
                    <tfoot>
                        <tr>
                        <th colspan='4'>
                            <a data-toggle="collapse" class="collapse" href="#collapsableWindow">Upload file</a>
                        </th>
                        </tr>
                    </tfoot>
                </table>
                <button type="btn btn-secondary" class="collapsible">New translation</button>
                <div class="container-upload">
                    <!-- Header of drop area -->
                    <div class="header-section">
                        <p>Upload file you want to translate<br>Only <strong>MP4</strong> files not exceeding <strong>100MB</strong> are allowed</p>
                    </div>
                    <!-- Drop area -->
                    <div class="drop-section" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
                        <div class="cloud-icon">
                            <img src="{% static 'assets/upload_icon.png' %}" alt="cloud">
                        </div>
                        <span>Drag and drop your file here</span>
                        <span>OR</span>
                        <button class="file-selector">Browse files</button>
                        <input type="file" class="file-selector-input">
                        <!--form method="POST" action="{% url 'translations' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ upload_form.as_p }}
                            <center>
                                <button type="submit" class="btn btn-secondary">Translate</button><br><br>
                            </center>
                        </form-->
                        <form method="POST" enctype="multipart/form-data" id="upload-form">
                            {% csrf_token %}
                            {{ upload_form.as_p }}
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Success modal/popup -->
        <div class="modal fade" id="sucess-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" area-hidden="true">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
                    <p>Your file has been translated successfully and transcript is available for download.</p>
                </div>
            </div>
        </div>
        <!-- File error modal/popup -->
        <div class="modal fade" id="error-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" area-hidden="true">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
                    <p>Uploading file is not MP4 format and/or bigger that 100MB. Try again.</p>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/translation_scripts.js' %}"></script>
</body>
{% endblock %}